/* PC、スマホ共通スタイル */
body {
  /* ここにGoogle Fontsを指定します */
  font-family: 'Noto Sans JP', sans-serif;
}


/*====================
 PC用のスタイル
====================*/
/* 横幅設定 */
body {
  padding: 0px;
  margin: 0px;
}

/* ナビゲーションメニュー */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  max-width: 960px;
  margin: 20px auto;
}

nav a {
  width: 300px;
  font-weight: bold;
  text-decoration: none;
  font-size: 34px;
  color: #000000;
}

#nav-profile {
  border: 1px solid #000000;
  padding: 0px 20px;
  margin-left: 20px;
}

.menu > a {
  margin: 0 20px; 
}

/* メインビジュアル */
.carousel {
  width: 100%;
}

/* TOPに戻るボタン */
#page-top {
  position: fixed;
  right: 20px;
  bottom: 38px;
  background-color: black;
  text-align: center;
  text-decoration: none;
  padding: 28px 24px;
  border-radius: 50%;
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
  display: none;
}

/* About */
.index-h1 {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 34px;
  text-align: center;
}
#about {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
  max-width: 960px;
}


#people {
  border-radius: 50%;
  border: 3px solid #999;
  padding: 3px;
  width: 280px;
  height: 280px;
  object-fit: cover;
  object-position: left center;
  transform: rotate(10deg);
}

/* 名前 */
#index-h3 {
  font-size: 24px;
  font-weight: bold;
}

p, li {
  font-size: 18px;
}

div {
  font-size: 0;
}

img {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}

.content {
  margin: 0 auto;
  padding-left: 40px;
}

/* works */
#works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  max-width: 960px;
}

.item {
  padding-bottom: 60px;
  width: 25%;
}

.item_center {
  padding-right: 20px;
  padding-left: 20px;
}

.item p {
  text-align: left;
}



/* フッター */
footer p{
  text-align: center;
  padding-bottom: 20px;
}

/* フェードインアニメーションの指定 */
section {
  opacity: 0;
  transform: translateY(100px);
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
}

/* モーダル */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.Img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  max-width: 800px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}

/*====================
 スマートフォン用のスタイル
====================*/
@media screen and (max-width: 767px) {
  body {
    padding: 0px;
    margin: 0px;
  }
  


  /* About */
  .index-h1 {
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 34px;
    text-align: center;
  }
  #about {
    flex-direction: column;
    text-align: center;
  }



  #people {
    border-radius: 50%;
    border: 3px solid #999;
    padding: 3px;
    width: 280px;
    height: 280px;
    object-fit: cover;
   
  }
  
  /* 名前 */
  #index-h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  p, li {
    font-size: 12px;
  }
  
  div {
    font-size: 0;
  }
  
  img {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
  }

  .content {
    margin: 0 auto;
    padding-left: 10px;
  }
  
  /* works */
  #works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 960px;
  }
  
  .item {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  
  
  
  /* フッター */
  footer p{
    text-align: center;
    padding-bottom: 20px;
  }

}
  